.footer {
	display: flex;
	justify-content: left;
	text-align: left;
	background-color: rgb(62, 62, 62);
	padding: 10px 0;
	font-size: 16px;
	font-weight: 700;
    color: #fff;

	h1 {
		font-size: 32px;
	}

	@media (max-width: 1200px) {
		font-size: 26px;
	}
}

