/* Base */
@import "./base/reset";
@import "./base/vars";
@import "./base/base";
@import "./base/utils";
@import "./base/containers";
@import "./base/sticky-footer";

/* Blocks */
@import "./blocks/*.scss";

.footer {
	display: flex;
	justify-content: right;
	font-family: Montserrat;
	font-weight: 700;
	font-size: 16px;
   background-color: white;
   color: black;
}

